{% extends 'base/base.html' %}
{% load static %}
{% block title %}Transformer{% endblock title %}
{% block header %}
    <link rel="stylesheet" href="{% static 'transformer/css/tr.css' %}">
{% endblock header %}
{% block body %}
    <div class="info-container">
    <h5 class="title h3">
        Table Transformer
    </h5>
    <div id = "preload_file">
       <span class="info-transformer text-center">
            Upload csv or Excel file, and apply different types of transformations.
            Such as Encoding categorical variables, numeric scaling and so on.
        </span>
        <div class="form-container">
                <form method="post" preloadenctype="multipart/form-data" id="table_upload_form">
                    {% csrf_token %}
                    <input type="file" id="file_input" accept="text/csv,.txt,.xls,.xlsx" required>
                    <br>
                    <label for="delimeter">Delimeter - for csv files</label>
                    <input type="text" id="delimeter" value=",">
                    <br>
                    <button type="submit" class="btn-success" id = "btn_load">Load</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-8 table-hover table-active table-responsive" id="table">
        {#div for table#}
        </div>
        <br>
        <div class="col-lg-3 col-md-4 card table-hover table-active table-responsive" id="table_pre_stats">
        {#div for stat_table#}
        </div>
    </div>
    <div class="row">
        <div id="tranform_or_analysis" class=" col-lg-2 col-md-3 btn-info">
        {#   div for buttons#}
        </div>
    </div>
    <script src="{% static 'transformer/js/file_upload.js' %}"></script>
    <script !src="">
        load_table2("{% url 'ting' %}", "{% url 'aing' %}")
    </script>
{% endblock body %}
{% block body_js %}
{%  endblock body_js %}