{% extends 'base/base.html' %}
{% load static %}
{% block title %}Transformer{% endblock title %}
{% block header %}
    <link rel="stylesheet" href="{% static 'transformer/css/tr.css' %}">
{% endblock header %}
{% block body %}
    <div class="info-container">
    <h3 class="title h3">
        Table Transformer
    </h3>
    <div class = "preload_file">
       <span class="info-transformer text-center">
            Upload csv or Excel file, and apply different types of transformations.
            Such as Encoding categorical variables, numeric scaling and so on.
        </span>
        <div class="form-container">
                <form method="post" enctype="multipart/form-data" id="table-upload-form">
                    {% csrf_token %}
                    <input type="file" id="file-input">
                    <input type="submit" class="upload_file btn-success" id="btn-upload">
                </form>
            </div>
        </div>
    </div>
    <div class="table-hover table" id="table">

    </div>
{% endblock body %}
{% block body_js %}
    <script src="{% static 'transformer/js/file_upload.js' %}"></script>
{%  endblock body_js %}